.button {
    border-radius: 8px;
    border: 1px solid #21252c;
    background: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    transition: .2s;
}

.button:hover {
    transition: .2s;
    background: rgba(255, 255, 255, 0.048);
    transform: scale(1.1);
}

.card_1 {
    border-radius: 8px;
    border: 1px solid #21252c;
    background: transparent;
    padding: 10px;
    color: white;
    transition: .2s;
}
