@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    background: #0d1017;
    font-family: 'Poppins', sans-serif;
}

.border-jetzlex {
    border-color: #21252c;
}

.bg-dark {
    background-color: #0d1017;
}

.bg-gray {
    background-color: #161b21;
}